@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media (max-width: 375px) {
  .title--box {
    width: 100%;
    padding: 24px 32px;
  }
  .title--box-img {
    margin-bottom: 53px;
  }
  .title--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .title--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .title--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
  }
}
@media (min-width: 375px) and (max-width: 775px) {
  .title--box {
    width: 100%;
    padding: 24px 32px;
  }
  .title--box-img {
    margin-bottom: 53px;
  }
  .title--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .title--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .title--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .title--box {
    width: 100%;
    padding: 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 30px;
  }
  .title--box-img {
    margin-bottom: 53px;
  }
  .title--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .title--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .title--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 21px;
  }
  .title--box-info .info-button-box button {
    max-width: 444px;
    max-height: 56px;
  }
}
@media (min-width: 1000px) {
  .title--box {
    width: 100%;
    padding: 50px 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .title--box-img {
    margin-bottom: 53px;
  }
  .title--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: start;
    color: #828282;
    margin-bottom: 16px;
  }
  .title--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    line-height: 178%;
    color: #828282;
    margin-bottom: 40px;
  }
  .title--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .title--box-info .info-button-box button {
    max-width: 444px;
    max-height: 56px;
  }
}
.tex--box {
  text-align: center;
  padding: 20px 32px;
}
.tex--box h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 114%;
  text-align: center;
  color: #828282;
  margin-bottom: 16px;
}
.tex--box p {
  max-width: 676px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #828282;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 375px) and (min-width: 775px) {
  #accordionExample {
    padding: 40px 32px;
  }
  .tex--box {
    width: 100%;
    padding: 70px 32px;
  }
}
@media (max-width: 375px) {
  #accordionExample {
    padding: 40px 32px;
  }
}
@media (min-width: 1000px) {
  #accordionExample {
    padding: 40px 151px;
  }
}
.accordion-button2-box {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  padding: 0px 0px 150px 0px;
}

.accordion-button2 {
  margin-left: auto;
  margin-right: auto;
  background: #828282;
  border-radius: 10px;
  width: 160px;
  height: 56px;
}

@media (max-width: 375px) {
  .similar--box {
    width: 100%;
    padding: 24px 32px;
  }
  .similar--box-img {
    margin-bottom: 53px;
  }
  .similar--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .similar--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .similar--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
  }
}
@media (min-width: 375px) and (max-width: 775px) {
  .similar--box {
    width: 100%;
    padding: 24px 32px;
  }
  .similar--box-img {
    margin-bottom: 53px;
  }
  .similar--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .similar--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .similar--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .similar--box {
    width: 100%;
    padding: 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .similar--box-img {
    margin-bottom: 53px;
  }
  .similar--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  .similar--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
  }
  .similar--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 21px;
  }
  .similar--box-info .info-button-box button {
    max-width: 444px;
    max-height: 56px;
  }
}
@media (min-width: 1000px) {
  .similar--box {
    width: 100%;
    padding: 50px 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .similar--box-img {
    margin-bottom: 53px;
  }
  .similar--box-info h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    text-align: start;
    color: #828282;
    margin-bottom: 16px;
  }
  .similar--box-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    line-height: 178%;
    color: #828282;
    margin-bottom: 40px;
  }
  .similar--box-info .info-button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .similar--box-info .info-button-box button {
    max-width: 444px;
    max-height: 56px;
  }
}
.cards--box {
  width: 100%;
}
.cards--box .cards--box-card {
  text-align: center;
}
.cards--box .cards--box-card img {
  max-width: 130px;
  height: auto;
}
.cards--box .cards--box-card h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 218%;
  text-align: center;
  color: #828282;
}
.cards--box .cards--box-card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: center;
  color: #828282;
}

@media (max-width: 375px) {
  .cards--box {
    width: 100%;
    padding: 20px 32px;
  }
  .cards--box .cards--box-card {
    margin-top: 56px;
  }
  .cards--box .cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 3px;
  }
}
@media (min-width: 375px) and (max-width: 775px) {
  .cards--box {
    width: 100%;
    padding: 20px 32px;
  }
  .cards--box .cards--box-card {
    margin-top: 56px;
  }
  .cards--box .cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 3px;
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .cards--box {
    width: 100%;
    padding: 20px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  .cards--box .cards--box-card {
    width: 340px;
    margin-top: 56px;
  }
  .cards--box .cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 3px;
  }
}
@media (min-width: 1001px) {
  .cards--box {
    width: 100%;
    padding: 20px 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  .cards--box .cards--box-card {
    max-width: 340px;
    margin-top: 56px;
  }
  .cards--box .cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 3px;
  }
}
.color--cards--box {
  width: 100%;
}

.color--cards--box-card {
  margin-top: 32px;
  max-width: 350px;
  background: #f3f3f3;
  border-radius: 8px;
  text-align: center;
}
.color--cards--box-card img {
  max-width: 106px;
  height: auto;
}
.color--cards--box-card h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: #828282;
}
.color--cards--box-card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #828282;
}

@media (max-width: 375px) {
  .color--cards--box {
    padding: 56px 32px;
  }
  .color--cards--box-card {
    padding: 40px 22px;
  }
  .color--cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .color--cards--box {
    padding: 56px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .color--cards--box-card {
    padding: 40px 22px;
  }
  .color--cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media (min-width: 475px) and (max-width: 775px) {
  .color--cards--box {
    padding: 56px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .color--cards--box-card {
    padding: 40px 22px;
  }
  .color--cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1000px) {
  .color--cards--box {
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
  .color--cards--box-card {
    padding: 40px 22px;
  }
  .color--cards--box-card h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.footer--box {
  width: 100%;
  background: #dbdbdb;
  text-align: center;
}
.footer--box h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  text-align: center;
  color: #828282;
}
.footer--box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #828282;
}

@media (max-width: 375px) {
  .footer--box {
    padding: 98px 32px;
  }
  .footer--box h2 {
    margin-bottom: 16px;
  }
  .footer--box p {
    margin-bottom: 32px;
  }
}
@media (min-width: 375px) and (max-width: 775px) {
  .footer--box {
    padding: 98px 32px;
  }
  .footer--box h2 {
    margin-bottom: 16px;
  }
  .footer--box p {
    margin-bottom: 32px;
  }
}
@media (min-width: 775px) {
  .footer--box {
    padding: 98px 32px;
  }
  .footer--box h2 {
    margin-bottom: 16px;
  }
  .footer--box p {
    margin-bottom: 32px;
  }
}
img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: #828282;
  padding: 17px 15px;
  border-radius: 10px;
}

main {
  width: 100%;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header button {
  background: #828282;
  padding: 17px 15px;
  border-radius: 10px;
}
header .header--meniu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
}
header .header--meniu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header--meniu ul li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 131%;
  letter-spacing: 0.12em;
  text-align: right;
  color: #828282;
}

@media (max-width: 375px) {
  header {
    padding: 40px 32px;
  }
  .header--meniu {
    display: none;
  }
  .header--meniu ul,
  .header--meniu li,
  .header--meniu button {
    display: none;
  }
}
@media (min-width: 375px) {
  header {
    padding: 40px 32px;
  }
  .header--meniu {
    display: none;
  }
  .header--meniu ul,
  .header--meniu li,
  .header--meniu button {
    display: none;
  }
}
@media (min-width: 775px) {
  .header--button {
    display: none;
  }
  .header--meniu {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--meniu ul {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline;
  }
  .header--meniu ul li {
    display: inline;
  }
  .header--meniu ul li a {
    display: inline;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 131%;
    letter-spacing: 0.12em;
    text-align: right;
    color: #828282;
  }
  .header--meniu .logo-button {
    display: inline;
  }
}
@media (min-width: 1000px) {
  header {
    padding: 60px 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--button {
    display: none;
  }
  .header--meniu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 41px;
  }
  .header--meniu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 41px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header--meniu ul li a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 131%;
    letter-spacing: 0.12em;
    text-align: right;
    color: #828282;
  }
}/*# sourceMappingURL=main.css.map */