// <div class="color--cards--box">
// <div class="color--cards--box-card">
// <img src="./img/title.svg" alt="" />
// <h2>Lorem ipsum dolor</h2>
// <p>
// Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
// ultricies non ligula. Suspendisse imperdiet
// </p>
// </div>
// </div>

.color--cards--box {
  width: 100%;
}

.color--cards--box-card {
  margin-top: 32px;
  max-width: 350px;
  background: #f3f3f3;
  border-radius: 8px;
  text-align: center;
  img {
    max-width: 106px;
    height: auto;
  }
  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: #828282;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #828282;
  }
}

@media (max-width: 375px) {
  .color--cards--box {
    padding: 56px 32px;
  }

  .color--cards--box-card {
    padding: 40px 22px;
    h2 {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
}

@media (min-width: 775px) and (max-width: 1000px) {
  .color--cards--box {
    padding: 56px 32px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .color--cards--box-card {
    padding: 40px 22px;
    h2 {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
}

@media (min-width: 475px) and (max-width: 775px) {
  .color--cards--box {
    padding: 56px 32px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .color--cards--box-card {
    padding: 40px 22px;
    h2 {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
}

@media (min-width: 1000px) {

  .color--cards--box {
    padding: 0px 32px;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
  }

  .color--cards--box-card {
    padding: 40px 22px;
    h2 {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
}
