// <section class="similar--box">
// <div class="similar--box-img">
//   <img src="./img/similar.svg" alt="" />
// </div>
// <div class="similar--box-info">
//   <h2>Lorem ipsum dolor sit amet</h2>
//   <p>
//     Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
//     ultricies non ligula. Suspendisse imperdiet
//   </p>
//   <div class="info-button-box">
//     <button>INSTALL ON CHROME</button>
//     <button>INSTALL ON FIREFOX</button>
//   </div>
// </div>
// </section>

@media (max-width: 375px){
    .similar--box {
      width: 100%;
      padding: 24px 32px;
    }
  
    .similar--box-img {
      margin-bottom: 53px;
    }
    .similar--box-info {
      h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 112%;
        text-align: center;
        color: #828282;
        margin-bottom: 16px;
      }
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        text-align: center;
        color: #828282;
        margin-bottom: 40px;
      }
      .info-button-box {
        display: flex;
        flex-direction: column;
        gap: 21px;
      }
    }
  }



@media (min-width: 375px) and (max-width: 775px) {
    .similar--box {
      width: 100%;
      padding: 24px 32px;
    }
  
    .similar--box-img {
      margin-bottom: 53px;
    }
    .similar--box-info {
      h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 112%;
        text-align: center;
        color: #828282;
        margin-bottom: 16px;
      }
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        text-align: center;
        color: #828282;
        margin-bottom: 40px;
      }
      .info-button-box {
        display: flex;
        flex-direction: column;
        gap: 21px;
      }
    }
  }
  
  @media (min-width: 775px) and (max-width: 1000px) {
    .similar--box {
      width: 100%;
      padding: 24px 32px;
      display: flex;
      gap: 30px;
    }
  
    .similar--box-img {
      margin-bottom: 53px;
    }
    .similar--box-info {
      h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 112%;
        text-align: center;
        color: #828282;
        margin-bottom: 16px;
      }
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        text-align: center;
        color: #828282;
        margin-bottom: 40px;
      }
      .info-button-box {
        display: flex;
        justify-content: center;
        gap: 21px;
  
        button {
          max-width: 444px;
          max-height: 56px;
        }
      }
    }
  }
  
  @media (min-width: 1000px) {
    .similar--box {
      width: 100%;
      padding: 50px 165px;
      display: flex;
      gap: 100px;
      justify-content: space-between;
    }
  
    .similar--box-img {
      margin-bottom: 53px;
    }
    .similar--box-info {
      h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 112%;
        text-align: start;
        color: #828282;
        margin-bottom: 16px;
      }
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: start;
        line-height: 178%;
        color: #828282;
        margin-bottom: 40px;
      }
      .info-button-box {
        display: flex;
        gap: 21px;
        justify-content: flex-start;
  
        button {
          max-width: 444px;
          max-height: 56px;
        }
      }
    }
  }
  