// <div class="tex--box">
// <h2>Lorem ipsum dolor sit amet</h2>
// <p>Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet</p>
// </div>

.tex--box {
  text-align: center;
  padding: 20px 32px;
  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 114%;
    text-align: center;
    color: #828282;
    margin-bottom: 16px;
  }
  p {
    max-width: 676px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #828282;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 375px) and (min-width: 775px) {
  #accordionExample {
    padding: 40px 32px;
  }
  .tex--box {
    width: 100%;
    padding: 70px 32px;
  }
}

@media (max-width: 375px) {
  #accordionExample {
    padding: 40px 32px;
  }
}

@media (min-width: 1000px) {
  #accordionExample {
    padding: 40px 151px;
  }
}

.accordion-button2-box{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    padding: 0px 0px 150px 0px;
}
.accordion-button2 {
  margin-left: auto;
  margin-right: auto;
  background: #828282;
  border-radius: 10px;
  width: 160px;
  height: 56px;
}
